body {
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  font-variant: small-caps;
  background-image: url("abstract-geometric-background-shapes-texture.jpg");
  size-adjust: 700px 600px;
}
h1 {
  color: rgb(255, 255, 255);
}
p {
  line-height: 1.6em;
  color: rgb(255, 255, 255);
  background-position: left top;
}
a {
  text-decoration: none;
  color: #ffffff; /* Neon cyan link text */
  background-color: #000000;
  padding: 10px 15px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
  display: inline-block;
  box-shadow: 0 0 5px rgb(50, 4, 71);
}
